body
{
  background-color:grey;
}
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 1.0s; /* Add transition on hover */
  padding: 10px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; 
}


#About {
  top: 180px;
  background-color:salmon;
}

#review {
  top: 220px;
  background-color: tomato; 
}

#idea {
  top: 260px;
  background-color: crimson; 
}
#home {
  top:340px;
  background-color: brown;
}

#method {
  top: 300px;
  background-color: maroon
}

h1{
  font-family: impact, fantasy;
  background-color:black;
  color:crimson;
 
  
}
h2
{
  position: static;
  left: 200px;
  background-color: black;
  color:white;
}
img
{
  position:absolute;
  right:350px;
}
